<%- include('../partials/header', { title: 'Результат оплаты' }) %>
<h2><%= success ? 'Оплата успешна' : 'Оплата не завершена' %></h2>
<p>
  <% if (success) { %>
    Спасибо! Доступ будет активирован после подтверждения платежа.
  <% } else { %>
    Попробуйте повторить оплату.
  <% } %>
</p>
<a href="/subscription">Вернуться к тарифам</a>
<%- include('../partials/footer') %>
